{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}SystemCog - IT Solution & Technology{% endblock %}</title>
    <meta name="description"
        content="{% block description %}SystemCog provides IT solutions, software development, and technology consulting.{% endblock %}">
    <meta name="keywords"
        content="{% block keywords %}SystemCog, IT Solutions, Web Development, Mobile Apps, Technology{% endblock %}">
    <meta name="author" content="SystemCog">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="{% block og_title %}SystemCog - IT Solution & Technology{% endblock %}">
    <meta property="og:description"
        content="{% block og_description %}SystemCog provides IT solutions, software development, and technology consulting.{% endblock %}">
    <meta property="og:image" content="{% block image %}{% static 'assets/images/preview.png' %}{% endblock %}">
    <meta property="og:url" content="{% block url %}https://www.systemcog.cc/{% endblock %}">
    <meta property="og:type" content="website">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}SystemCog - IT Solution & Technology{% endblock %}">
    <meta name="twitter:description"
        content="{% block twitter_description %}SystemCog provides IT solutions, software development, and technology consulting.{% endblock %}">
    <meta name="twitter:image"
        content="{% block twitter_image %}{% static 'assets/images/preview.png' %}{% endblock %}">

    <!-- Canonical -->
    <link rel="canonical" href="{% block canonical %}https://www.systemcog.cc/{% endblock %}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'assets/images/favicon/favicon.ico' %}" type="image/x-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.min.css' %}">

    {% block extra_head %}
    {% endblock extra_head %}
</head>


<body>

    <div class="optech-preloader-wrap">
        <div class="optech-preloader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- End preloader -->

    <!-- progress circle -->
    <div class="paginacontainer">
        <div class="progress-wrap">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
            <div class="top-arrow">
                <i class="ri-arrow-up-s-line"></i>
            </div>
        </div>
    </div>


    {% include 'blog/header.html' %}

    {% block content %}

    {% endblock content %}

    <!-- Footer  -->

    {% include "blog/footer.html" %}





    <!-- scripts -->
    <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/menu/menu.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/countdown.js' %}"></script>
    <script src="{% static 'assets/js/skillbar.js' %}"></script>
    <script src="{% static 'assets/js/slick-animation.js' %}"></script>
    <script src="{% static 'assets/js/slick-animation.min.js' %}"></script>
    <script src="{% static 'assets/js/faq.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/tabs-slider.js' %}"></script>
    <script src="{% static 'assets/js/product-increment.js' %}"></script>
    <script src="{% static 'assets/js/top-to-bottom.js' %}"></script>
    <script src="{% static 'assets/js/aos.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;key=AIzaSyArZVfNvjnLNwJZlLJKuOiWHZ6vtQzzb1Y"></script>

    <script src="{% static 'assets/js/app.js' %}"></script>


</body>

</html>