<div class="section optech-section-padding {{ bg_color }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="optech-default-content mr40">
                    <h2>Let’s build an awesome project together</h2>
                    <p>
                        We’d love to hear from you! Whether you’re looking to start a new project, collaborate on
                        innovative ideas,
                        or simply have questions about our services, SYSTEMCOG is here to help. Reach out to us for
                        expert guidance in
                        software development, IoT solutions, and embedded systems. Let’s turn your ideas into reality
                        together.
                    </p>
                    <div class="optech-contact-info-column">
                        <div class="optech-contact-info">
                            <i class="ri-map-pin-2-fill"></i>
                            <h5>Address</h5>
                            <p>No 2 Eva Street, Urora, Benin City, <br> Edo State, Nigeria</p>
                        </div>
                        <div class="optech-contact-info">
                            <i class="ri-mail-fill"></i>
                            <h5>Contact</h5>
                            <a href="mailto:name@email.com">info@systemcog.cc</a>
                            <a href="tel:+2349046156799">+234 904-615-6799</a>
                        </div>
                    </div>
                    Office Hours: Mon – Sat: 8:00 AM – 10:00 PM
                </div>
            </div>
            <div class="col-lg-6">
                <div class="optech-main-form bg-light1 ml60" data-aos="fade-up" data-aos-duration="800">
                    <h3>Fill The Contact Form</h3>
                    <p>Feel free to contact with us, we don’t spam your email</p>
                    
                    {% include "blog/reach_out.html" %}
                </div>
            </div>
        </div>
    </div>
</div>